<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="jumbotron text-center" style="margin-bottom: 0">
        <div class="text-center">
            <h1 class="site-title">@Html.ActionLink("16hr", "Index", "Home")</h1>
            <p>The Best App to Manage Your Time!</p>
        </div>
        <div class="center">
            <section id="login">
                @Html.Partial("_LoginPartial")
            </section>
        </div>
        @Html.Partial("_navbar")
    </div>

     <div class="date">@DateTime.Now.ToString("dddd, dd MMMM yyyy")</div>





    <div id="body">


        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
