<nav class=" navbar-expand-lg navbar-light bg-light">

        <ul class="navbar-nav navy">

                <li class="nav-item nav-link active" >@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="nav-item nav-link" >@Html.ActionLink("About", "About", "Home")</li>
                <li class="nav-item nav-link" >@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li class="nav-item nav-link" >@Html.ActionLink("To Do List", "Index", "ToDoList")</li>
                <li class="nav-item nav-link" >@Html.ActionLink("Analysis", "Index", "Analysis")</li>

        </ul>

</nav>
