@model _16hrApp.Models.ToDoListItem

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ToDoListItem</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateBegin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateBegin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateEnd)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateEnd)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Message)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Message)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Day)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Day)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Duration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Duration)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Task)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Task)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
